/*
-----------------------------------------------
  links [opinionated] – 1.1.0
-----------------------------------------------
*/

[underline] {
  position: relative;
  user-select: none;
  transition: color .2s;
  color: black;
}

[underline]:before {
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  bottom: -.2rem;
  left: 0;
  background-color: var(--flash);
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all .2s var(--out-back, ease-out);
}

[underline].active:hover,
[underline]:hover {
  color: var(--flash);
}

[underline].active:hover:before,
[underline]:hover:before  {
  visibility: visible;
  transform: scaleX(1);
}
